<h1>Hi, @ViewBag.Username this is page from Helo Actions</h1>
<h2>can have any HTML content</h2>

<p>User name : @ViewBag.UserName</p>

<p>Location : @ViewBag.location</p>

<p>Contact : @ViewBag.Contact</p>