@page
@using WebAppDETAug2022.Models
@model WebAppDETAug2022.Pages.IPLEventModel
@{
}

<h1>WELCOME TO IPL EVENT 2022!! </h1>

<h2>Ticket Details of IPL Event</h2>
<table border="1">
	<tr>
		<th>Category</th>
		<th>Price</th>
		<th>MaxLimit</th>
	</tr>

@foreach(Tickets t in Model.Tickets)
{
	<tr>
		<td> @t.Category</td>
		<td> @t.Price</td>
		<td> @t.MaxLimit</td>


	</tr>
}

</table>